* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tree {
  position: absolute;
}

button {
  appearance: none;
  border-radius: 5px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  background: #456990;
  border: 1px solid #e4fde1;
}

input {
  border: none;
  font-size: 20px;
  width: 100%;
  color: #e4fde1;
  background: #f45b69;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #e4fde1ab;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #e4fde1ab;
}

::-ms-input-placeholder {
  color: #e4fde1ab;
}

#btn-zoom-in,
#btn-zoom-out {
  font-size: 20px;
  color: #e4fde1;
}

.item-controls {
  position: absolute;
  left: 160px;
  top: 0;
  display: none;
  padding-left: 10px;
  height: 100%;
  z-index: 9;
  align-items: center;
}

.item-controls button {
  margin-right: 2px;
}

.btn-add::after {
  content: url(./icons/add.svg);
}

.btn-remove::after {
  content: url(./icons/delete.svg);
}

.btn-edit::after {
  content: url(./icons/edit.svg);
}

.tree ul {
  padding-top: 20px;
  position: relative;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/* Connectors */

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #e4fde1;
  font-size: 20px;
  display: inline-block;
  position: relative;
  width: 170px;
  background: #028090;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li a:hover .item-controls {
  display: flex;
}

.tree li a:hover,
.tree li a:hover + ul li a {
  background: #f45b69;
  border: 1px solid #028090;
}
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
  border-color: #028090;
}
